# .gitignore
# Ignorer le répertoire de l’environnement virtuel
env_flask/
# Ignorer le répertoire de configuration de PyCharm
.idea/
# Ignorer le cache de Python
__pycache__/
# Ignorer les packages Node.js
node_modules/