<!-- templates/base.html -->
<!--
Page titre avec barre de navigation
Paramètres :
title : titre de la page (str)
-->
<!doctype html>
<html>
<head>
    <title>{{ title }} - Mon Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{ url_for('static', filename='css/main.css') }}", rel="stylesheet">
</head>
<body>
    <div class="w3-card" style="margin:10px; padding: 10px">
        <header class="w3-card-4" style="margin:10px; padding: 10px">
            <table class="w3-table">
                <tr class="w3-col">
                    <th><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" /></th>
                    <th>
                        <h1 style="padding: 60px 510px; text-align: center; font-size: 40px">Mon Application</h1>
                    </th>
                </tr>
                <tr class="w3-card w3-indigo">
                    <th class="w3-card w3-light-grey w3-col s1 w3-center" style="margin:10px; border-radius: 5px; padding: 10px">
                        <a href="/index">Accueil</a>
                    </th>
                    <th class="w3-rest">
                        <a href="#"></a>
                    </th>
                    <th class="w3-card w3-col w3-light-grey s11 w3-center" style="margin:10px; border-radius: 5px; padding: 10px">
                        <a href="/apropos">A propos</a>
                    </th>
                    <th class="w3-rest">
                        <a href="#"></a>
                    </th>
                    <th class="w3-col s9 w3-center" style="margin:10px; border-radius: 5px; padding: 10px">
                        <a href="/login">
                            <svg xmlns="http://www.w3.org/2000/svg" height="26" width="26" viewBox="0 0 512 512">
                                <path fill="#c0bfbc" d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/>
                            </svg>
                        </a>
                    </th>
                </tr>
            </table>
        </header>
        <hr>
        <!-- Affichage des messages enregistrés par la fonction flash(...) -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- Les pages s'afficheront ici -->
        <div class="w3-light-gray w3-card" style="padding:10px; margin: 10px">
            {% block contenu %}
            {% endblock %}
        </div>
        <footer>
            <div>
                <h5 class="w3-right w3-card w3-indigo" style="margin: 30px; border-radius: 5px; padding: 10px">© Axel C. - 2024</h5>
            </div>
        </footer>
        <!-- fin d'affichage des pages -->
    </div>
</body>
</html>