<!-- app/templates/user.html -->
<!--
    Page de profil de l'utilisateur

    Paramètres :
        user : Utilisateur de type User
        posts : Liste d'objets de type Post
-->
{% extends "base.html" %}
{% block contenu %}
    <div class="grid">
        <div class="grid-cols-2">
            <div><img src="{{ user.avatar(128) }}" alt="Avatar de {{ user.username }}"/></div>
            <div>
                {% if user == current_user %}
                    <p class="w3-right">
                        <a href="{{ url_for('edit_profile') }}">
                            <svg xmlns="https://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512">
                                <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
                            </svg>
                        </a>
                    </p>
                {% endif %}
                <h1>Utilisateur {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>
                        {{ user.about_me }}
                    </p>
                {%endif%}
                {% if user.last_seen %}
                    <p>
                    Derni&egrave;re visite : {{moment(user.last_seen).format('LLL')}}
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="grid-cols-2">
            <hr/>
            {% for post in posts %}
                <div>
                    <p>
                        {% include "_post.html" %}
                    </p>
                </div>
            {% endfor %}
            <hr/>
        </div>
    </div>
{% endblock %}